  services:
    db:
      image: postgres:15
      environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      ports:
        - "5432:5432"

    app:
      build: .
      ports:
        - "${APP_PORT}:8080"
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
        SPRING_DATASOURCE_USERNAME: ${DB_USER}
        SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      depends_on:
        - db